<html lang='en'>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia architecto eveniet sit quae quas necessitatibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat natus autem ut?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus unde quo enim, molestias quae adipisci commodi.</p>
    </div>
</body>

<%- include('./partials/footer.ejs') %>
</html>